#addScreenshotForm {
  background: #0e1333;
  color: white;
  padding: 0 40px;
  font-size: 30px;
  position: absolute;
  width: 30%;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#addScreenshotForm i {
  position: absolute;
  right: 0px;
  top: 0px;
}

#addScreenshotForm i:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

#addScreenshotForm h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  align-self: center;
}
#addScreenshotForm form {
  display: flex;
  flex-direction: column;
}
#addScreenshotForm form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#addScreenshotForm form span {
  color: tomato;
  font-size: 22px;
}
#addScreenshotForm form textarea {
  resize: none;
  font-size: 30px;
}
#addScreenshotForm form input {
  height: 50px;
  font-size: 30px;
}

.formLabel {
  margin-bottom: 10px;
}

#addScreenshotForm form img {
  width: 60%;
  border: 3px solid white;
  margin-top: 20px;
  align-self: center;
}
#addScreenshotForm button {
  margin-bottom: 20px;
  background: white;
  color: #0e1333;
  border: none;
  border-radius: 50px;
  height: 65px;
  font-size: 32px;
  width: 80%;
  align-self: center;
}

#addScreenshotForm button:hover {
  background: white;
  border: 5px solid green;
  cursor: pointer;
}
