html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/background02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Andada Pro", serif;
}

#libraryContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#libraryContent h1 {
  font-size: 4em;
  color: #0e1333;
}

#libraryContent button {
  background: rgba(14, 19, 51, 0.7);
  border: none;
  border-radius: 50px;
  width: 400px;
  height: 65px;
  font-size: 32px;
  color: white;
}

#libraryContent button:hover {
  cursor: pointer;
  background: rgba(14, 19, 51, 0.9);
}

#libraryContent button:active {
  background: rgba(255, 255, 255, 0.9);
  color: #0e1333;
  border: 3px solid #0e1333;
}

#addScreenshotPopup {
  position: absolute;
  width: 85%;
  height: 80%;
  display: none;
  max-width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#closePopup {
  color: white;
  font-size: 48px;
  position: absolute;
  right: 0px;
}
#closePopup:hover {
  cursor: pointer;
}
#preview {
  background: white;
  width: 70%;
  height: 100%;
}
#addScreenshotForm {
  width: 30%;
  background: #0e1333;
  color: white;
  padding: 0 15px;
  font-size: 30px;
}

#addScreenshotForm h2 {
  margin-bottom: 30px;
  margin-top: 90px;
}
#addScreenshotForm form {
  display: flex;
  flex-direction: column;
}

#addScreenshotForm form textarea {
  resize: none;
}
#addScreenshotForm form input {
  height: 50px;
}

#addScreenshotForm form label {
  margin-bottom: 10px;
}

#addScreenshotForm input,
textarea {
  margin-bottom: 25px;
  font-size: 30px;
}
#addScreenshotForm button {
  margin-top: 25px;
  width: 100%;
  background: white;
  color: #0e1333;
  border: none;
  border-radius: 50px;
  height: 65px;
  font-size: 32px;
}

#addScreenshotForm button:hover {
  background: white;
  border: 5px solid green;
  cursor: pointer;
}

/* PREVIEW CONTENT IN THE FORM */

#preview {
  display: flex;
  flex-direction: column;
}

#preview img {
  width: 100%;
  height: 100%;
}

#imageDescriptionPreview {
  background: white;
  color: #0e1333;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#authorPreview {
  display: flex;
}

#descriptionPreview {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

#descriptionPreview p {
  font-size: 24px;
  word-break: break-word;
}
